@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');

.mode {
    font-family: 'Tilt Neon', cursive;
    position: absolute;
    display: inline-block;
    left: 23%;
    top: 10%;
    color: #a28259;
}
.window {
  display: inline-block;
  position: absolute;
  width: 33%;
  height: 28%;
  border-radius: 2rem;
  padding: 5rem;
  left: 25%;
  top: 25%;
  background-color: rgb(179, 179, 122);
  box-shadow: 7px 6px 6px rgb(0 0 0 / 30%);
}

.btn {
  position: absolute;
  width: 20%;
  height: 15%;
  padding: 1rem;
  background-color: #b49a4a;
  border: black;
  border-radius: inherit;
  left: 41%;
  top: 74%;
  font-family: 'Tilt Neon', cursive;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 4px 4px black;
  color: antiquewhite;
  transition-duration: 0.4s;
}

.btn:hover {
  background-color: #435b44;
  /* Change background color on hover */
}

#count {
  font-size: 3rem;
  left: 47%;
  top: 40%;
  position: absolute;
  font-family: 'Lora', serif;
  font-family: 'Tilt Neon', cursive;
  text-shadow: 2px 2px blanchedalmond
}

/* css for dark mode */
body.dark-mode {
  background-color: #402f2b;
  color: #624848;
}

body.dark-mode.window {
  color: #ffbf00;
}

/* Toggle switch styles */
.toggle {
  width: 5%;
  height: 5%;
  left: 26%;
  top: 18%;
  border-radius: 13%;
  position: absolute;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #bb7e68;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 73%;
  width: 45%;
  left: 3%;
  bottom: 4px;
  background-color: #eee0da;
  transition: .4s;
  border-radius: inherit;
}

input:checked+.slider {
  background-color: #686147;
}

input:checked+.slider:before {
  transform: translateX(26px);
}
/* media queries */
@media (max-width: 600px) {
  .window {
    width: 54%;
    height: 49%;
    padding: 3rem;
    left: 10%;
    top: 27%;
  }
  .btn {
    width: 41%;
    height: 12%;
    left: 28%;
    top: 80%;
}
.toggle {
  width: 16%;
    height: 5%;
    left: 16%;
    top: 19%;
}
.slider:before {
  height: 73%;
  width: 45%;
  left: 3%;
}
#count{
  left: 41%;
}
.mode {
    left: 10%;
}
}
